/*paper effect*/

body {
    background-image: url("./assets/Images/parchment.jpg");
    background-size: cover;
    background-repeat: no-repeat;
  
}



#dialogue button {
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .15em solid orange; /* The typwriter cursor */
  white-space: nowrap; 
  margin: 0 auto; /*Gives that scrolling effect as the typing happens */
  letter-spacing: .05em; /* Adjust as needed */
  animation: 
    typing 3.5s steps(40, end),
    blink-caret .75s step-end infinite;
}
#dialogue p {
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .15em solid orange; /* The typwriter cursor */
  white-space: nowrap; 
  margin: 0 auto; /*Gives that scrolling effect as the typing happens */
  letter-spacing: .05em; /* Adjust as needed */
  animation: 
    typing 3.5s steps(40, end),
    blink-caret .75s step-end infinite;
}

@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: orange; }
}

.rpgui-content {
    display: flex;
    justify-content: center;
    /* align-items: center; */
    height: 100vh;
    /* display: inline-block; */
    
  }
  
.rpgui-container {
    width: 100%;
    justify-content: center;
    position: relative;
}

#startButton {
    width: 100%;
}

.sidebar {
  position: relative;
  top: 800px;
  /* left: 700px; */
  
}

#startGame{
  display: flex;
  flex-flow: row wrap;
  position: relative;
  max-height: min-content;
  justify-content: center;
  margin: 20px;
  width: 100%;
}

#initial-select, #healthmodal-sect {
  display: flex;
  align-items: center;
  flex-flow: column wrap;
}

#healthmodal-sect {
  display: none;
  flex-flow: row wrap;
  justify-self: center;
  max-width: fit-content;
  color: lightgray;
}

#healthmodal-sect:hover,
#healthmodal-sect:focus {
  color: white;
  text-decoration: none;
  cursor: pointer;
}

#name-modal, #health-modal {
  display: none;
  position: fixed;
  z-index: 1; 
  left: 10;
  top: 10;
  padding-top: 20px;
  max-width: 500px;
  max-height: fit-content;
}

#health-modal {
  color: white;
  padding-left: 10px;
}

#closeBtn, #closeBtn-health {
  color: #aaa;
  max-width: fit-content;
  font-size: 12px;
  font-weight: bold;
}

#closeBtn:hover,
#closeBtn:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/* #closeBtn-health {
  margin-top: 20px;
} */

#dialogue {
  display: none;
  flex-flow: column wrap;
}

.dialogueBox {
  max-width: 1000px;
  flex-flow: row wrap;
}

.dialogueBtn {
  display: flex;
  flex-flow: row wrap;
  max-width: fit-content;
}

.fightorrestBtn {
  display: block;
}



#startButton:hover {
  animation: tilt-n-move-shaking 0.25s infinite;
}

@keyframes tilt-n-move-shaking {
    0% { transform: translate(0, 0) rotate(0deg); }
    25% { transform: translate(5px, 5px) rotate(5deg); }
    50% { transform: translate(0, 0) rotate(0eg); }
    75% { transform: translate(-5px, 5px) rotate(-5deg); }
    100% { transform: translate(0, 0) rotate(0deg); }
  }
